* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/glow-gb.jpg);
    background-size: cover;
    /* background-position: 0 -100px; */
}

.main {
    top: 150px;
    left: 200px;
    position: absolute;
    width: 300px;
    padding: 0;
}

input[type="text"]:disabled {
    text-align: right;
    padding: 15px;
    background-color: #000510;
    color: rgba(0, 255, 255, 0.8);
    width: 100%;
    font-size: 50px;
    height: 90px;
    border: none !important;
}

.tombol {
    /* background-image: linear-gradient(to bottom right,
        rgba(10, 37, 64, .9),
        rgba(2, 18, 39, .9)); */
    background-image: linear-gradient(to bottom right,
        rgba(9, 0, 53, .85) 25%,
        rgba(61, 58, 206, .85) 150%);
}

.btn {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    width: 60px;
    height: 80px;
    color: rgba(0, 255, 255, 0.8);
}

.btn:hover {
    background-color: rgba(0, 255, 255, 0.8);
}

.cus-btn {
    padding-top: 60px;
    height: 160px;
}

table {
    margin: 0 !important;
    border: none !important;
}

td {
    padding: 0 !important;
}

tr {
    padding: 0 !important;
    max-height: 80px !important;
    height: 80px !important;
}