@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7-webfont.woff2') format('woff2'),
        url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'digital-7regular';
    background-image: url(../assets/glow-gb.jpg);
    background-size: cover;
    /* background-position: 0 -100px; */
}

.main {
    top: 150px;
    left: 200px;
    position: absolute;
    width: 300px;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

input[type="text"]:disabled {
    text-align: right;
    padding: 15px;
    background-color: #000510;
    color: rgba(0, 255, 255, 0.8);
    width: 100%;
    font-size: 50px;
    height: 90px;
    border: none !important;
}

.tombol {
    background-image: linear-gradient(to bottom right,
        rgba(9, 0, 53, .85) 25%,
        rgba(61, 58, 206, .85) 150%);
}

.btn {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    width: 60px;
    height: 80px;
    color: rgba(0, 255, 255, 0.8);
}

.btn:hover {
    background-color: rgba(0, 255, 255, 0.8);
}

.cus-btn {
    padding-top: 60px;
    height: 160px;
}